// custom css

.subscribe-section {

  .subscribe-form {

    .single-form {

      .main-btn {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 4px;
        width: 40px;
      }
    }
  }
}

.pagination-wrapper {
  ul {

    li {

      a {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary-color;
        color: $gray-1;
        font-size: 16px;
        margin: 5px;
        @include transition(.3s);

        &.active,
        &:hover {
          background: $primary-color;
          color: $white-color;
        }
      }
    }
  }
}

.category-wrapper {

  .tab-content {

  .tab-pane {
    display: block;
    height: 0;

    &.active {
      height: auto;
    }
  }
}
}



.product-image {

  .icon-text {
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
  }
}