// features-section css

.features-section {

  .single-feature-wrapper {
    display: flex;
    margin-bottom: 50px;

    @media #{$lg} {
      flex-direction: column;
    }


    .feature-icon {
      font-size: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $primary-color;
      color: $white-color;
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .feature-content {
      margin-left: 25px;
      flex: 1;

      @media #{$lg} {
        margin-left: 0px;
      }
    }
  }
}