

/*===== All Product Style 7 =====*/

.product-style-7{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: $white-variant;

    @media #{$xs}{        
        display: block;
    }
    @media #{$sm}{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    & .product-image{
        position: relative;
        max-width: 240px;
        width: 100%;

        @media #{$lg}{
            max-width: 200px;
        }
        @media #{$xs}{
            max-width: 100%;
        }
        @media #{$sm}{
            max-width: 240px;
        }

        & .product-active{
            & .product-item{
                & img{
                    width: 100%;
                }
            }         
            & .slick-arrow{
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                @include transition(0.3s);
                bottom: auto;
                left: 4px;
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: rgba($dark-color, 0.38);
                font-size: 32px;
                z-index: 5;
                cursor: pointer;
    
                &:hover{
                    color: $dark-color;
                }
                &.next{
                    right: 4px;
                    left: auto;
                }
            }   
        }
    }

    & .product-content{
        position: relative;
        z-index: 5;
        padding: 20px 20px 25px;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;

        @media #{$lg}{
            padding: 20px 15px 25px;
        }
        @media #{$md}{
            padding: 20px 15px 25px;
        }
        @media #{$xs}{
            padding: 20px 10px 25px;
        }

        & .product-meta{
            & li{
                display: inline-block;

                & + li{
                    margin-left: 16px;
                }

                & a{
                    color: $dark-variant;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    @include transition(0.3s);

                    @media #{$lg}{
                        font-size: 14px;
                        line-height: 20px;
                    }

                    &:hover{
                        color: $primary-color;
                    }
                }
                & span{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: $dark-variant;

                    @media #{$lg}{
                        font-size: 14px;
                        line-height: 20px;
                    }

                    & i{
                        color: $caution-color;
                        font-size: 24px;
                    }
                }
            }
        }

        & .title{
            & a{
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $dark-color;
                @include transition(0.3s);
                margin-top: 8px;

                @media #{$lg}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 20px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }

                &:hover{
                    color: $primary-color;
                }
            }
        }
        & p{
            color: rgba($dark-color, 0.74);
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            margin-top: 8px;
        }
        & .price{
            font-weight: 500;
            font-size: 24px;
            color: $secondary-1-color ;
            line-height: 30px;
            margin-top: 8px;
            display: block;
        }
        & .main-btn{
            margin-top: 16px;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: capitalize;
        }        
    }
}
















