

/*===== All Profile Style =====*/


.profile{
    & .profile-header{
        & .profile-cover-photo{
            width: 100%;
            height: 240px;
            border-radius: 8px;
        }
        & .profile-author{
            padding: 32px;
            padding-top: 0;
            position: relative;
            z-index: 9;
            margin-top: -80px;

            & .profile-name{
                & .name{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                    color: $dark-color;
                }
                & .email{
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    color: $dark-color;
                    margin-top: 8px;
                }
            }
            & .profile-photo{
                & img{
                    width: 160px;
                    border-radius: 50%;
                }
            }
        }
    }

    & .profile-title{
        position: relative;
        background-color: $white-light;
        height: 48px;
        padding: 0 16px;
        border-radius: 8px;

        & .title{
            line-height: 48px;
            color: $dark-color;
            font-weight: 500;
            font-size: 16px;
        }
        & .profile-link{
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            color: $primary-color;
            position: absolute;
            top: 50%;
            right: 16px;
            @include transform(translateY(-50%));
            text-transform: uppercase;
            letter-spacing: 0.08em;
        }
    }

    & .profile-details{
        & .single-details-item{
            padding: 8px 16px 0;

            & .details-title{
                width: 145px;
                margin-top: 8px;

                @media #{$xs}{
                    width: 100px;
                }
                @media #{$sm}{
                    width: 145px;
                }

                & .title{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: $dark-variant;
                }
            }
            & .details-content{
                margin-top: 8px;

                & p{
                    font-size: 16px;
                    line-height: 22px;
                    color: $dark-color;
                    font-weight: 400;
                }
            }
        }
    }

    & .single-card-info{
        padding: 16px;
        @include box-shadow (0px 2px 4px rgba($dark-color, 0.08));
        margin-top: 16px;
        border-radius: 8px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        & .card-icon{
            & img{
                border-radius: 4px;
            }
        }
        & .card-info{
            padding-left: 16px;

            & .card-name{
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                color: $dark-color;
            }
            & .card-number{
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $dark-variant;
                margin-top: 5px;

                & span{
                    margin-left: 8px;
                }
            }
        }
    }
}


/*===== All Profile Dark Style =====*/

.profile-dark{
    background-color: $secondary-3-variant;

    & .profile{
        & .profile-header{
            & .profile-author{    
                & .profile-name{
                    & .name{
                        color: $white-color;
                    }
                    & .email{
                        color: $white-color;
                    }
                }
            }
        }
    
        & .profile-title{
            background-color: rgba($dark-color, 0.08);
    
            & .title{
                color: $white-color;
            }
            & .profile-link{
                color: $secondary-1-color;
            }
        }
    
        & .profile-details{
            & .single-details-item{
    
                & .details-title{    
                    & .title{
                        color: rgba($white-color, 0.74);
                    }
                }
                & .details-content{    
                    & p{
                        color: $white-color;
                    }
                }
            }
        }
    
        & .single-card-info{    
            background-color: rgba($dark-color, 0.08);

            & .card-info{    
                & .card-name{
                    color: $white-color;
                }
                & .card-number{
                    color: rgba($white-color, 0.74);
                }
            }
        }
    }
}

















